*{
    margin: 0;
    padding: 0;
    background-color: rgb(253, 243, 240);
}


input, button, select{
    background-color: white;
}
h1{
    padding-top: 3%;
    text-align: center;
    background-color: rgb(227, 227, 227);
}

.sign{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    input{
        margin: 5%;
        background-color: white;
    }
    p{
        margin: 3%;
    }
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    input{
        margin: 2%;
        background-color: white;
    }
    p{
        margin: 1%;
    }
}

#muestra{
    margin-top: 5%;
    h2{
        text-align: center;
        font-size: 30px;
    }
    #catalogo{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5%;
        margin: 3% 10%;
        .card{
            border: 1.5px solid black;
            display: flex;
            flex-direction: column;
            .baja{
                padding: 2%;
            }
            img{
                width: 100%;
            }
        }
    }
}

.not{
    display:none
}